.header {
    background-color: #0b530b;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0 auto; /* Centers block elements */
    display: block; /* To ensure it's a block element */
}

.filterBar {
    background-color: #e5e5e5;
    padding: 10px;
    text-align: center;
}

.searchInput, .categoryDropdown {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.productsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.productGraph {
    height: 200px;
    background: #f4f4f4;
}

.error {
    color: red;
    padding: 10px;
    border: 1px solid red;
    margin-top: 20px;
}

.feedbackSection {
    margin-top: 50px;
}

.feedbackTextarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.feedbackSubmit {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.graphSection {
    padding: 20px;
}

.detailedForecast {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
}

.footer {
    background-color: #0b530b;
    color: white;
    padding: 20px;
    text-align: center;
}
